In [1]:
import pandas as pd
import numpy as np

In [6]:
keywords = pd.read_csv("final_keywords_list.csv")
keywords

      Unnamed: 0  event_id     keyword    weight    location        date
0              0         1      allies  0.037014  Washington  09-13-2022
1              1         1   trafalgar  0.037211  Washington  09-13-2022
2              2         1       sousa  0.043994  Washington  09-13-2022
3              3         1      george  0.057846  Washington  09-13-2022
4              4         1        spce  0.057846  Washington  09-13-2022
...          ...       ...         ...       ...         ...         ...
5157        5157       144     traffic  0.397935     Georgia  09-15-2022
5158        5158       144  possession  0.397935     Georgia  09-15-2022
5159        5159       144       piece  0.397935     Georgia  09-15-2022
5160        5160       144       spoke  0.397935     Georgia  09-15-2022
5161        5161       144        week  0.397935     Georgia  09-15-2022

[5162 rows x 6 columns]

In [8]:
new_df = keywords[["event_id", "keyword"]]

In [14]:
df = new_df.groupby('event_id')["keyword"].apply(set)
df

event_id
1      {entry, prisoner, tolakperkauman, moon, spce, ...
2      {unpicphotography, rosario, delivered, appeals...
3      {society, akintimehin, maryland, asked, police...
4      {mentally, fema, bodine, records, maryland, ci...
5      {high, passenger, parkway, city, dave, george,...
                             ...
140    {respect, high, drug, accused, georgiarealtor,...
141    {white-collar, ongoing, award, businesses, bru...
142    {chance, public, arizona, urged, lsu, kyrsten,...
143    {moldova, players, kicks, research, hit, inter...
144    {brutally, fortitude, ago, colorado, criminal,...
Name: keyword, Length: 144, dtype: object

In [15]:
keyword_id = range(1, df.shape[0])

In [23]:
added = set()
keyword_event_id = {}
keyword_events = {}
for index,id in enumerate(df.keys().tolist()):
    if id in added:
        continue
    added.add(id)
    if id not in keyword_event_id:
        keyword_event_id[id] = [id]
        keyword_events[id] = df.get(id)
    curr_keyword_events = keyword_events[id]
    for ind, idd in enumerate(df.keys().tolist()[index+1:]):
        if(idd in added):
            continue
        new_keyword_events = df.get(idd)
        if len(curr_keyword_events.intersection(new_keyword_events)) >= 5:
            keyword_event_id[id].append(idd)
            keyword_events[id] = curr_keyword_events.intersection(new_keyword_events)
            new_keyword_events = curr_keyword_events.intersection(new_keyword_events)
            added.add(idd)

In [29]:
new_dict = []
for key, val in keyword_event_id.items():
    if len(val) > 1:
        new_dict.append(key)

In [40]:
event_common_keyword_mapping = []
common_id = []
id_to_keywords = {}
for index, each in enumerate(new_dict):
    ckw = f"C{index+1}"
    id_to_keywords[ckw] = [" ".join(list(keyword_events[each]))]
    print(keyword_event_id[each])
    for e in keyword_event_id[each]:
        event_common_keyword_mapping.append(e)
        common_id.append(ckw)

[3, 4, 10, 13]
[7, 14]
[8, 9]
[15, 16, 17]
[21, 28]
[22, 33]
[23, 108]
[25, 116]
[31, 34]
[32, 98]
[36, 37, 38, 41, 42, 43, 44, 92, 96, 99]
[40, 45]
[47, 48, 49]
[55, 57, 58, 59, 72]
[56, 121]
[60, 61, 81]
[69, 70]
[74, 80, 124]
[79, 82]
[83, 84]
[90, 94, 97]
[100, 107]
[101, 120, 126]
[102, 103, 109, 111, 112, 113]
[105, 139]
[114, 115, 117, 118, 119, 122, 123, 125, 127]
[128, 129, 130, 131, 133, 134, 135]
[140, 141]

In [41]:
print(id_to_keywords)
for a,b in zip(event_common_keyword_mapping, common_id):
    print(a,b)

{'C1': ['stage olubowale irap akintimehin police born bio'], 'C2': ['irap million akintimehin today folarin bio officer'], 'C3': ['home akintimehin stopdvbypolice repercution wife downtown'], 'C4': ['high back state city playing football found'], 'C5': ['detroit travelin album live rock'], 'C6': ['jealousy home boyfriend rivalry newsom sister authorities monday year-old sibling'], 'C7': ['week july october brother price'], 'C8': ['city today visit time fbi'], 'C9': ['band classic usa rock finally'], 'C10': ['award autumn back hair shakespeare paltrow gwyneth birth rat'], 'C11': ['appointment entry international released flight game'], 'C12': ['appointment entry global mesa score'], 'C13': ['cfp decolonization survivor time discontents'], 'C14': ['month tour show mexico july'], 'C15': ['fuck show visit year company'], 'C16': ['quarter including october year told'], 'C17': ['state abortions year performed number'], 'C18': ['popular governor day visit october'], 'C19': ['annual industry tickets summit antonio company'], 'C20': ['department cakeshop justice springs court day lgbtq civil'], 'C21': ['appointment tuesday international port october'], 'C22': ['babcock benefits ian families holidays'], 'C23': ['governor queen attacks year world'], 'C24': ['scoop history contact estate discuss'], 'C25': ['week sec buyer penn florida lsu'], 'C26': ['area including city tourists attacks place october time kazakhstan year chinese spend pandemic service world millions'], 'C27': ['affordable development largest veterans housing time'], 'C28': ['jarrett sheriff employees county proctor camden office']}
3 C1
4 C1
10 C1
13 C1
7 C2
14 C2
8 C3
9 C3
15 C4
16 C4
17 C4
21 C5
28 C5
22 C6
33 C6
23 C7
108 C7
25 C8
116 C8
31 C9
34 C9
32 C10
98 C10
36 C11
37 C11
38 C11
41 C11
42 C11
43 C11
44 C11
92 C11
96 C11
99 C11
40 C12
45 C12
47 C13
48 C13
49 C13
55 C14
57 C14
58 C14
59 C14
72 C14
56 C15
121 C15
60 C16
61 C16
81 C16
69 C17
70 C17
74 C18
80 C18
124 C18
79 C19
82 C19
83 C20
84 C20
90 C21
94 C21
97 C21
100 C22
107 C22
101 C23
120 C23
126 C23
102 C24
103 C24
109 C24
111 C24
112 C24
113 C24
105 C25
139 C25
114 C26
115 C26
117 C26
118 C26
119 C26
122 C26
123 C26
125 C26
127 C26
128 C27
129 C27
130 C27
131 C27
133 C27
134 C27
135 C27
140 C28
141 C28

In [53]:
final_new_df = pd.DataFrame()
final_new_df["event_id"] = event_common_keyword_mapping
final_new_df["Common_keywors_id"] = common_id
final_new_df

    event_id Common_keywors_id
0          3                C1
1          4                C1
2         10                C1
3         13                C1
4          7                C2
..       ...               ...
86       133               C27
87       134               C27
88       135               C27
89       140               C28
90       141               C28

[91 rows x 2 columns]

In [50]:
org_data = pd.read_csv("final_dataset_v1.csv")
org_data

,Unnamed: 0,event_id,location,date,tweets_count,keywords,event_sentiment,classification
0,0,1,Washington,09-13-2022,13,"[('allies', 0.0370141109748817), ('trafalgar',...",Positive,historical
1,1,2,Washington,09-16-2022,13,"[('corsi', 0.04162912505109767), ('interview',...",Negative,historical
2,2,3,Washington,09-03-2022,8,"[('director', 0.10912854635271647), ('curiousl...",Positive,sport
3,3,4,Washington,09-09-2022,14,"[('maryland', 0.02620209941119737), ('boulevar...",Negative,sport
4,4,5,Washington,09-10-2022,27,"[('george', 0.04167087239681818), ('school', 0...",Positive,business
...,...,...,...,...,...,...,...,...
139,139,140,Georgia,09-10-2022,12,"[('county', 0.021428847152118378), ('camden', ...",Negative,sport
140,140,141,Georgia,09-06-2022,13,"[('county', 0.032262332786760446), ('sheriff',...",Negative,sport
141,141,142,Georgia,09-13-2022,5,"[('israeli', 0.06771232806350562), ('businessm...",Positive,historical
142,142,143,Georgia,09-16-2022,14,"[('mark', 0.06777092907666397), ('sabbath', 0....",Negative,historical
143,143,144,Georgia,09-15-2022,9,"[('year', 0.08956740615015714), ('county', 0.1...",Positive,historical

In [54]:
final_df = pd.merge(org_data, final_new_df, on="event_id", how="left")

In [56]:
final_df.to_csv("final_dataset_v1.csv", index=False)

In [59]:
list(id_to_keywords.keys())

['C1',
 'C2',
 'C3',
 'C4',
 'C5',
 'C6',
 'C7',
 'C8',
 'C9',
 'C10',
 'C11',
 'C12',
 'C13',
 'C14',
 'C15',
 'C16',
 'C17',
 'C18',
 'C19',
 'C20',
 'C21',
 'C22',
 'C23',
 'C24',
 'C25',
 'C26',
 'C27',
 'C28']

In [61]:
id_to_keywords
common_key_df = pd.DataFrame()
common_key_df["common_keywords_id"] = list(id_to_keywords.keys())
common_key_df["common_keywords"] = list(id_to_keywords.values())

In [63]:
common_key_df.to_csv("common_keyword_events.csv")